<header>
  <h1><span class="displaynone">Ricardo CORREIA</span> FERREIRA</h1>
  <div class="contacts">
    <a href="https://www.linkedin.com/in/ricardo-ferreira-045499220/">
      <img
        class="icon"
        src="https://img.icons8.com/material-outlined/24/000000/linkedin--v1.png"
      />Linkedin</a
    >
    <a href="mailto:Correia.ferreira.ricardo@gmail.Com">
      <img
        class="icon"
        src="https://img.icons8.com/ios/50/000000/apple-mail.png"
      />Email
    </a>
    <a href="tel:0033674157911">
      <img
        class="icon"
        src="https://img.icons8.com/material-outlined/24/000000/phone.png"
      />
      N°portable</a
    >
  </div>
</header>
<img class="picture" src="assets/images/photo.jpg" alt="photo" />
<main class="container-fluid">
  <div class="profil row text-center">
    <div class="col">
      <h2 class="me text-center">A propos</h2>
      <br />
      <p class="text-center textwhite">
        Etant un grand passionné d’informatique depuis toujours, je sais
        m’adapter aux langages, aux frameworks et aux logiciels demandés. Je
        suis également capable de m'intégrer sans difficultés dans de nouveaux
        contextes de travail grâce à un véritable esprit d'équipe et à
        d'excellentes capacités d'écoute et de communication.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="qualities textwhite">
        <h2>Mes atouts</h2>
        <br />
        <ul>
          <li>Relationnel client</li>
          <li>Informatique</li>
          <li>Permis A,B,C et CE</li>
          <li>Sens des responsabilités</li>
          <li>Ponctualité</li>
          <li>Autonomie</li>
          <li>Flexibilité</li>
        </ul>
      </div>
    </div>
    <div class="languages textwhite">
      <h2>Langues</h2>
      <br />
      <ul>
        <li><b>Français</b>: Courant</li>
        <li><b>Portugais</b> : Langue maternelle</li>
        <li><b>Anglais</b> : Professionnel</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="Formations textwhite">
        <h2>Formations</h2>
        <br />
        <ul>
          <li>
            <b>2021</b> – Formation Graduate Developpeur Web Full Stack – Studi
            by Digital Campus Live (en cours)
            <ul class="languages textwhite">
              <li>-Html</li>
              <li>-Css</li>
              <li>-Php</li>
              <li>-JS</li>
              <li>-Frameworks:Bootstrap,Symfony, Angular...</li>
              <br />
            </ul>
          </li>

          <li>
            <b>2019</b> – Matières Dangereuses Spécialisation Produits
            Pétroliers – Aftral – Reims
          </li>
          <li><b>2019</b> - FIMO – Aftral – Reims</li>
          <li>
            <b>2012</b> – Baccalauréat Sciences et Technologies – Externato D.
            Afonso Henriques - Lamego (Portugal)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="Xp textwhite">
        <h2>Experiences professionnelles</h2>
        <br />
        <ul>
          <li>
            <b>01/02/2022-à présent</b> : Stagiaire Développeur Full Stack -
            Hiji (6 mois)
          </li>
          <li>
            <b>10/2018</b> jusqu’au 01/2022 : Chauffeur Poids Lourds - Piganiol
            – Epernay (51)
          </li>
          <li><b>06/2018-10/2018</b> : Maçon - Batison – Reims (51)</li>
          <li>
            <b>04/2018-06/2018 </b>: Maçon-Paysagiste - Presta Vert – Damery
            (51)
          </li>
          <li>
            <b>03/2013-03/2018</b> : Maçon – SARL Patis Père & Fils –
            Champlat-Boujacourt (51)
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
<footer>
  <a href="/cv">Remonter en Haut de la page</a>
</footer>
