<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <p class="text-center textwhite text20px">Charte graphique</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="text-center textTapestryRegular text60px textBleu">Title</p>
        <p class="text-center textAlexBrush text20px textwhite">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque enim
          ipsum reprehenderit. Fugiat, explicabo ullam quaerat assumenda,
          praesentium repellat corporis aut error quasi repudiandae molestias
          quam blanditiis quo, nostrum quia.
        </p>
      </div>
      <div class="col-3 bg-white">
        <div class="row justify-content-center mt-2">
          <div class="col-5 m-2 p-2 text-center bgBleu">#02adaf</div>
          <div class="col-5 m-2 p-2 text-center bg-white">#ffffff</div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-5 m-2 p-2 text-center bgVerdigris">#F4D35E</div>
          <div class="col-5 m-2 p-2 text-center textwhite bgPine">#1F271B</div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-6 text-center">Fonts</div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-5 m-2 p-2 text-center textAlexBrush text20px">
            Alex Brush
          </div>
          <div class="col-5 m-2 p-2 text-center textTapestryRegular">
            Tapestry Regular
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
