<div class="row">
  <div class="col">
    <h1 class="h1 text-center textBleu title textAlexBrush text60px">
      Mon portfolio
    </h1>
  </div>
</div>
<div class="row mt-5 align-items-center justify-content-center">
  <div class="col-sm-6">
    <p class="text-center textwhite textTapestryRegular text20px">
      Bonjour je m'appelle Ricardo CORREIA FERREIRA et je suis en formation de
      Graduate Developper Web Full Stack chez Studi. J'effectue également un
      stage dans l'entreprise Hiji depuis le 01/02/22 jusqu'au 31/07/22.
    </p>
    <p class="text-center textwhite textTapestryRegular text20px">
      J'ai donc realiser ce portfolio pour regrouper mes projects ansi que mon
      CV etre autres
    </p>
  </div>
</div>
